.card {
  width: 200px;
  height: 250px;
}
.card img {
  width: 200px;
  height: 200px;
}
.pokemons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 0 10px;
}
.pagination {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  gap: 10px;
}
.sort .btn:hover {
  background-color: beige;
  color: black;
}

.search .btn:hover {
  background-color: beige;
  color: black;
}
@media only screen and (min-width: 769px) and (max-width: 1281px) {
  .pokemons-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card img {
    width: 200px;
    height: 200px;
  }
  .pokemons-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 480px) {
  .logo-image {
    width: 150px;
  }
  .pokemons-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
